
*{
    font-family: 'Libre Baskerville', serif;
    
}
.opinion-page{
    display: grid;
    font-size: 25px; 
    margin: 120px auto 30px;     
    justify-content: center;
    justify-items: center;
}

.opinion-container{
    max-width: 768px;   
    margin: 0 70px; 
}
.opinion-header {
    padding-bottom: 25px;
}
.opinion-author {
    font-style: italic;
    padding: 10px 0;
}

.opinion-date {
    font-weight: lighter;
    padding: 15px 0;
}
.oinion-container img {
    width: 120%;
}

.opinion-content {
    margin-top: 30px;
}

.opinion-container p {
    padding-bottom: 15px;
}
.opinion-container h3 {
    padding-bottom: 15px;
    margin: 20px 0;
}
.opinion-container h4 {
    width: 60%;
    padding-right: 20px;
    padding-bottom: 15px;
    margin: 18px 0;
}

@media(max-width: 500px){
    .opinion-page{
        font-size: 18px;
    }
    .opinion-container img{
        width: 80%;
        padding-left: 20px;
    }
    .opinion-container p{
        padding: 0 18px 18px;
    }
}

@media(max-width: 700px){
    .opinion-page{
        font-size: 22px;
    }
}