
*{
    font-family: 'Libre Baskerville', serif;
    
}
.opinion-page{
    display: grid;
    font-size: 20px; 
    margin: 120px auto 20px;     
    justify-content: center;
    justify-items: center;
}

.opinion-container{
    max-width: 1024px;   
    margin: 0 70px; 
}
.opinion-header {
    padding-bottom: 25px;
}

.opinion-title{
    padding-bottom: 8px;
}
.opinion-author {
    font-style: italic;
    padding: 10px 0;
}

.opinion-date {
    font-weight: lighter;
    padding: 15px 0;
}
.oinion-container img {
    width: 120%;
}

.opinion-content {
    margin-top: 30px;
}

.opinion-container p {
    padding-bottom: 15px;
}
.opinion-container h3 {
    padding: 0 15px;
    margin: 20px 0;
}
.opinion-container h4 {
    padding-bottom: 15px;
}

@media(max-width: 500px){
    .opinion-container{
        margin: 0 16px;
    }
    .opinion-page{
        font-size: 16px;
    }
    .opinion-container img{
        width: 100%;
    }
    .opinion-container p{
        padding-bottom: 18px;
    }
}

@media(max-width: 700px){
    .opinion-page{
        font-size: 18px;
    }
}